/* General rules */
html, body {
    padding: 0;
    margin: 0;
}
body {
    font: normal 13px/24px "PT Sans";
    color: #000;
    min-width: 960px;
}
a {
    color: #32425c;
}
a:hover {
    color: #ee3643;
}
a:active {
    color: rgba(50,66,92,.3);
}
h1, h2 {
    text-transform: uppercase;
    color: #32425c;
}
h1, div.h1 {
    font-size: 30px;
}
h2 {
    font-size: 36px;
}
.product-block h1 {
	text-transform: none;
    font-size: 18px;
}
.custom h1 {
    color: #000;
}
h1, h2, h3, div.h1, div.h2, div.h3 {
    font-family: Cuprum;
    margin: 0;
}
/* Greed system */
.container {
	width: 940px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.row::after {
    content: "";
    display: table;
    clear: both;
    margin: 0 -10px;
}
/* Modal */
.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 620px;
    height: 282px;
    margin-top: -141px;
    margin-left: -310px;
    -o-box-shadow: 0 20px 40px 0 rgba(41,52,73,.75);
    -moz-box-shadow: 0 20px 40px 0 rgba(41,52,73,.75);
    -webkit-box-shadow: 0 20px 40px 0 rgba(41,52,73,.75);
    box-shadow: 0 20px 40px 0 rgba(41,52,73,.75);
    background: #fff;
}
.modal-header {
	min-height: 7px;
    background: #ee3643;
}
.modal-content {
    padding-top: 47px;
    padding-bottom: 50px;
	position: relative;
}
.modal-footer {
	background: #f1f1f1;
    padding-bottom: 37px;
    padding-top: 37px;
}
.modal-content, .modal-footer {
	padding-left: 80px;
    padding-right: 80px;
}
.product-added {
    height: 66px;
    line-height: 66px;
	padding-left: 99px;
    background: url('img/product-in-cart.png') 0 50% no-repeat;
}
a.close {
    position: absolute;
    right: 9px;
    top: 9px;
    width: 22px;
    height: 22px;
    background: url('img/cross.png') 50% 50% no-repeat;
}
/* Buttons */
.button-holder {
    font-size: 0;
}
.button-holder .btn{
	margin-right: 20px;
}
.button-holder .btn:last-child {
	margin-right: 0;
}
.btn {
    width: 210px;
    display: inline-block;
    line-height: 18px;
    padding: 10px 5px;
    background: #ee3643;
    border-radius: 2px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Cuprum;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
}
.btn-cancel {
    background-color: #fff;
    color: #000;
}
/* Header */
.page-header {
    background: #f1f5f7;
    font-family: Cuprum;
}
.page-header p{
	margin: 0;
}
.header-top-row {
    background: #293449;
    min-height: 42px;
}
.header-bot-row{
    padding: 47px 0 60px;
    margin-bottom: 20px;
}
ul.top-panel {
	margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 17px;
    color: #fff;
}
ul.top-panel li {
    float: left;
}
/* Logo */
.logo a {
    line-height: 42px;
    height: 42px;
    text-align: center;
    display: block;
    background: #ee3643;
    width: 210px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 5px;
    box-shadow: 0 5px 0 0 #b52a34;
    font-size: 24px;
    color: #fff;
}
.logo a:hover {
    background: #ca2c37;
    box-shadow: 0 5px 0 0 #a3232d;
}
.logo a:active {
    background: #ba2732;
    box-shadow: 0 5px 0 0 #8f1f27;
}
/* Search */
form.search {
    position: relative;
}
.main-search {
    height: 42px;
    width: 221px;
    background: transparent;
    padding: 0 0 0 49px;
    border: none;
    color: #fff;
}
.main-search:hover {
	background: #212a3a;
}
.main-search:focus {
    outline: none;
    background: #fff;
    color: #000;
}
.main-search::-webkit-input-placeholder {
    color: #fff;
}
.main-search + label:before{
	position: absolute;
    left: 17px;
    top: 12px;
    opacity: .3;
}
.main-search:hover + label:before, .main-search:focus + label:before {
    opacity: 1;
}
.main-search:focus + label:before {
	color: #ee3643;
}
/* Panel buttons */
.panel-btn {
    position: relative;
	height: 42px;
    display: block;
    color: #fff;
    width: 106px;
    padding-left: 44px;
    text-decoration: none;
    line-height: 42px;
}
.panel-btn:before {
	opacity: .3;
    margin-right: 13px;
    position: absolute;
    left: 17px;
    top: 12px;
}
.panel-btn:hover {
	background: #212a3a;
    color: #fff;
}
.panel-btn:hover:before {
    opacity: 1;
}
.panel-btn:active {
	background: #161d29;
    color: rgba(255,255,255,.6);
}
.panel-btn:active:before {
    opacity: .5;
}
.order-btn {
    background: #63a63e;
    padding: 0 5px;
    text-align: center;
    width: 140px;
}
.order-btn:hover {
    background: #5fbb2d;
}
.order-btn:active {
    background: #518534;
    color: rgba(255,255,255,.51);
}
/* Bottom panel */
.slogan-block, .address-block, .user-block {
    float: left;
}
.address-block {
	width: 270px;
    margin-right: 50px;
}
.slogan-block {
	font-size: 17px;
    color: #ee3643;
    line-height: 23px;
    font-style: italic;
    width: 267px;
    padding-left: 53px;
    padding-top: 4px;
}
p.phone {
    font-size: 21px;
    color: #e9292a;
    border: 3px solid #fff;
    padding-left: 71px;
    width: 193px;
    height: 39px;
    line-height: 39px;
    position: relative;
    margin-bottom: 10px;
}
.phone:before {
    color: #b7bfc8;
    position: absolute;
    left: 12px;
    top: 10px;
}
.address {
    text-align: center;
    font-size: 14px;
    color: #32425c;
    line-height: 14px;
}
.user-block {
	width: 300px;
}
.logout {
    position: relative;
    display: block;
	height: 45px;
    background: #fff;
    font-size: 21px;
    color: rgba(0,0,0,.3);
    line-height: 45px;
    text-decoration: none;
    padding: 0 47px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 7px;
}
.logout:hover {
    color: #000;
}
.logout:before, .logout:after {
    font-size: 18px;
    position: absolute;
    top: 13px;
}
.logout:before {
    left: 13px;
}
.logout:after {
    right: 10px;
}
.logout:hover:before, .logout:hover:after {
	color: #32425c;
}
.logout:active, .logout:active:before, .logout:active:after {
	color: rgba(0,0,0,.3);
}
.user-menu {
    font-size: 16px;
    line-height: 18px;
    list-style-type: disc;
    color: #32425c;
    margin: 0;
    padding: 0;
}
.user-menu li {
    float: left;
    vertical-align: bottom;
    padding: 0 2px;
    margin: 0 14px;

}
.user-menu li:first-child {
    list-style-type: none;
}
/* Main menu */
.main-menu ul {
    list-style-type: none;
    font-size: 17px;
    margin: 45px 0 0 0;
    padding: 0;
    background: #32425c;
    border-bottom: 5px solid #293449;
}
.main-menu li {
    float: left;
}
.main-menu a {
    display: block;
    line-height: 55px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    height: 55px;
    padding: 0 33px;
}
.main-menu a:hover, .main-menu a:active {
    background: #293449;
}
.main-menu a:active {
    color: rgba(255,255,255,.5);
}
.main-menu li:first-child a {
    padding: 0 35px;
}
.main-menu li:last-child a {
    padding: 0 36px;
}
/* Breadcrumbs */
.breadcrumbs ul {
    list-style-type: none;
    margin: 0 0 25px;
    padding: 0;
}
.breadcrumbs li {
    line-height: 1em;
    float: left;
}
.breadcrumbs li:before, .breadcrumbs a:before {
    color: #c1c6ce;
}
.breadcrumbs a {

    color: black;
    margin: 0 15px;
    text-decoration: none;
    text-transform: uppercase;
}
.breadcrumbs li:first-child a {
    margin-left: 0;
}
/* Content */
.block-header {
	padding: 32px 24px 34px 30px;
    margin-bottom: 20px;
}
.inner-page-header {
    background: #f2f6f8;
}
custom-header {
    background: #f7f3ec;
}
/* Left sidebar */
.left-sidebar {
	width: 220px;
    float: left;
}
.products {
    width: 700px;
    float: right;
}
.filter-header {
	line-height: 14px;
    padding: 13px 12px 10px;
    border-radius: 3px;
    background: #f7f3ec;
}
